
  <div class="container my-5">
    <div class="parent">

      <div class=" px-5 d-flex flex-column align-items-center justify-content-between">
        <span class="notFound"   >هذه الصفحة غير موجودة</span >
        <span class= "notFound"> لا داعي للقلق .. بامكاننا المساعدة</span>
        <div class="d-flex align-items-center justify-content-between mt-2 ">
          <a  href="/"
            class="Dr btn "   >تصفح دكاترة فيزيتا</a  >
            <a
            href="/"
            class="home btn"  >الصفحة الرئيسية</a >
        </div>
      </div>

      <div  class=""> 
        <img
          alt="404 not found"
          src="assets/images/error.png"
         class="NewPageNotFoundstyle__NotFoundImg-sc-1b0y90p-3 kJuOyQ"
        />
      </div>

    </div>
  </div>

