<div class="container my-5 parent">
    
    <div class="row">
        <div class=" col-md-7 col-lg-5 m-auto">
            <div class="joinNow">   اعادة تعيين كلمة المرور</div>
            <div class="bg-white p-1 rounded ">
               
                <form  [formGroup]="formRestPass"  class="mt-4">
                    <div *ngIf="isDone" 
                    class=" text-danger  text-center fs-4 mb-2" >
                          سيتم تحويلك الى صفحة تسجيل الدخول في خلال بضع ثواني  
                  </div>
                    <div class="d-flex flex-column p-1 m-1">
                        <label class="text-secondary  fs-5 p-2 " for="patientPassword">كلمة المرور الجديدة</label>
                        <div class="col-11">
                            <input type="password" id="patientPassword" name="patientPassword" class="form-control" formControlName="patientPassword">
                            <ng-container class="m-2" *ngIf="getNewPass.touched || showError ">
                                <div
                                  *ngIf="getNewPass.hasError('required')" 
                                  class=" text-danger fs-6 mb-2"
                                >
                                يرجى ادخال كلمة المرور الجديدة
                                </div>
                                <div
                                *ngIf="getNewPass.hasError('pattern')" 
                                class=" text-danger fs-6 mb-2"
                              >
                              
                        كلمة المرور يجب ان تكون    8 أحرف على الأقل
                        <br>  تحتوي على حرف كبير واحد على الأقل
                        <br>   تحتوي على حرف صغير واحد على الأقل
                        <br> تحتوي على رقم واحد على الأقل
                        <br> تحتوي على حرف خاص واحد على الأقل (مثل @ ، # ، $ ، إلخ.)
                      
                              </div>
                            
                              </ng-container>
                        </div>
                    </div>
                      
                    <div class="d-flex flex-column p-1 m-1">
                        <label class="text-secondary  fs-5 p-2 " for="confirmPassword" > تأكيد كلمة المرور   </label>
                        <div class="col-11">
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" formControlName="confirmPassword">
                            <ng-container class="m-2" *ngIf="getNewPass.touched || showError ">
                                <div
                                  *ngIf="getNewPass.hasError('required')" 
                                  class=" text-danger fs-6 mb-2" >
                                يرجى ادخال تأكيد كلمة المرور
                                </div>
                                <div
                                *ngIf="isConfirm==false && !getNewPass.hasError('required')" 
                                class=" text-danger fs-6 mb-2"
                              >
                              كلمة المرور غير متطابقة
                              </div>
                            
                              </ng-container>
                             
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="submit" value="حفظ" class="btn btn-danger m-auto mb-3 d-block  px-5 py-2 mt-4"  (click)="resetPass($event)"/>
                    </div>
                </form>
                 </div>
        </div>

    </div>

</div>







