<div class="container my-5 parent">
    
    <div class="row">
        <div class=" col-md-7 col-lg-5 m-auto">
            <div class="joinNow"> نسيت كلمة المرور؟</div>
            <div class="bg-white p-5 rounded ">
                <p class="text-center m-1 fs-4" style="line-height: 30px;">
                    لا توجد مشكلة. سنساعدك في استعادتها. <br>
ادخل البريد الالكتروني لاسترجاع كلمة المرور الخاصة بك

                </p>
                <form  [formGroup]="formForgetPass"  class="mt-4">
                      
                    <div class="d-flex p-1 m-1">
                        
                        <div class="col-11">
                            <input type="email" id="patientEmail" name="patientEmail" placeholder="example@AppDomain.com" class="form-control" formControlName="patientEmail">
                            <ng-container class="m-2" *ngIf="getEmail.touched || showError">
                                <div
                                  *ngIf="getEmail.hasError('required')" 
                                  class=" text-danger fs-6 mb-2"
                                >
                                يرجى  ادخال البريد الالكتروني
                                </div>
                                <div
                                *ngIf="getEmail.hasError('email')" 
                                class=" text-danger fs-6 mb-2"
                              >
                              البريد الالكتروني غير صحيح
                              </div>
                              <div
                              *ngIf="erorrFromServer!=''" 
                              class=" text-danger fs-6 mb-2"
                            >
                           لم نتمكن من العثور على حسابك بإستخدام هذا البريد الإلكتروني
                            </div>
                              </ng-container>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value=" احصل على كلمة مرور جديدة" class="btn btn-danger m-auto d-block  px-5 py-2 mt-4"  (click)="forgetPass($event)"/>
                    </div>
                </form>
                <hr style="height:2px" />
                <div class="log m-3 m-auto ">  <a class="mx-3"  [routerLink]="['/login']">  او العودة الى صفحة تسجيل الدخول</a></div>
            </div>
        </div>

    </div>

</div>






