.joinNow {
  border-radius: 11px 11px 0px 0px;
  padding: 8px 0px;
  font-size: 20px;
  background-color: rgb(0, 112, 205);
  color: rgb(255, 255, 255);
  text-align: center;
}

.passform{
  margin-top: 150px;
}
