<div class="container my-5 parent">
    <div class="row mt-5 ">
        
     <div class="col-md-3 mb-3">
          <div class="pass-parent ">
    
            <a style="color: rgb(153, 153, 153)"  class="d-block linkActive"  id="profile" (click)="getProfile()" >
               <div   class= "pass-Change">
                <i class="fas fa-exclamation-circle"></i>
                <span class="d-inline-block mx-1">  صفحتي </span>
               </div>
            </a>

           <a  style="color: rgb(153, 153, 153)"  class="d-block"  id="Forgetpass"    (click)="forgetPass()" >
           
           <div class="pass-Change"  >
                <span class=" fa fa-users "></span>
                <span class="d-inline-block mx-1">تغيير كلمة المرور </span>
           </div>
           </a>
          </div>
          
     </div>
    <div class=" col-md-9 col-lg-7 ">
        
           <ng-container *ngIf="forgetPassActivate">
               <div class="alert" *ngIf="alertDiv">
                    تم تعديل  كلمة المرور بنجاح <a  [routerLink]="['/']" routerLinkActive="router-link-active" >الصفحة الرئيسية</a>
                </div>
                <div class="container">
                    <div class="joinNow">    تغيير كلمة المرور</div>
                    <div class="bg-white p-3  ">
                        <form  [formGroup] = "formChangePass" class="mt-4"> 
                              
                            <div class="d-flex p-1 m-1">
                                <label for="patientPassword" class="control-label col-4"> كلمة المرور :</label>
                                <div class="col-8">
                                    <input type="password" id="patientPassword" value="" name="patientPassword" class="form-control" formControlName="patientPassword">
                            
                                    <ng-container *ngIf="getPass.touched || showError">
                        
                                        <div
                                          *ngIf="getPass.hasError('required')" 
                                          class=" text-danger fs-6 mb-2"
                                        >
                                         يرجى  ادخال كلمة المرور  القديمه    
                                        </div>
                                      
                                      </ng-container>
                             
                                    <div   class=" text-danger fs-6 mb-2" *ngIf="ErrorFromServer">
                                         يرجى  ادخال كلمة المرور  القديمه بشكل صحيح
                                     </div>
                             
                                </div>
                            </div>
                
                            <div class="d-flex p-1 m-1">
                                <label for="patientNewPassword" class="control-label col-4">   كلمة المرور الجديدة  :  </label>
                                <div class="col-8">
                                    <input type="password" value="" name="patientNewPassword" id="patientNewPassword" class="form-control" formControlName="patientNewPassword">
                                    <ng-container *ngIf="getNewPass.touched || showError">
                        
                                        <div
                                          *ngIf="getNewPass.hasError('required')" 
                                          class=" text-danger fs-6 mb-2"
                                        >
                                         يرجى  ادخال كلمة المرور الجديدة
                                        </div>
                                        <div
                                          *ngIf="getNewPass.hasError('pattern')" 
                                          class="mb-2 fs-6 text-danger"
                                        >
                                        كلمة المرور يجب ان تكون    8 أحرف على الأقل
                                        <br>  تحتوي على حرف كبير واحد على الأقل
                                        <br>   تحتوي على حرف صغير واحد على الأقل
                                        <br> تحتوي على رقم واحد على الأقل
                                        <br> تحتوي على حرف خاص واحد على الأقل (مثل @ ، # ، $ ، إلخ.)
                                        </div>
                                      </ng-container>
                              
                                </div>
                            </div>
                            
                             
                            <div class="form-group d-flex ">
                                <div class="col-4"></div>
                                <div class="col-8"> 
                                    <button type="submit" class="btn btn-danger fs-4 rounded rounded-3  px-4 m-4 "  (click)="updatePass($event)">
                                       
                                        <span *ngIf="showSpinner" class="spinner-border text-white " role="status">
                 
                                        </span>
                                                         <span *ngIf="!showSpinner" > حفظ </span>               
                                    </button>
                                <input type="reset" value=" إلغاء" class="btn btn-light fs-4 rounded rounded-3  px-4 m-4" />
                           
                                </div>
                            </div>
                        </form> 
                     </div>
                </div>
           </ng-container>
                
           <ng-container  *ngIf="!forgetPassActivate && profileActiviate">
               
                    <div class="alert" *ngIf="alertDiv">
                        تم تعديل البيانات بنجاح <a [routerLink]="['/']" routerLinkActive="router-link-active" >الصفحة الرئيسية</a>
                    </div>
 
                        <div class="container">
                            <div class="joinNow"> ادارة الملف الشخصي</div>
                            <div class="bg-white p-3  ">
                                <form  [formGroup] = "formProfile" class="mt-4"> 
                        
                                    <div class="d-flex p-1 m-1">
                                        <label for="patientName" class="control-label col-4"> الإسم      : </label>
                                        <div class="col-8">   
                                    <input type="text" name="patientName" id="patientName" class="form-control" formControlName="patientName">
                                        </div>
                                        </div>
                        
                                    <div class="d-flex p-1 m-1">
                                        <label for="email" class="control-label col-4">  البريد الالكتروني : </label>
                                        <div class="col-8">
                                            <input type="email" value="" name="patientEmail" id="email" class="form-control" formControlName="patientEmail">
                                        </div>
                                    </div>
                        
                                    <div class="d-flex p-1 m-1">
                                <label for="phone" class="control-label col-4"> رقم الموبايل    : </label>
                                <div class="col-8">
                                <input type="tel" id="phone" name="patientPhone" value="" class="form-control" formControlName="patientPhone"> 
                                </div>
                                </div>
                                
                                <div class="d-flex p-1 m-1">
                                    <label for="birth" class="control-label col-4">    تاريخ الميلاد   : </label>
                                    <div class="col-8">
                                    <input type="datetime-local" id="birth" name="patientBirth_date" value="" class="form-control" formControlName="patientBirth_date"> 
                                    </div>
                                    </div>
                                    
                                    <div class="d-flex p-1 m-1">
                                        <label for="address" class="control-label col-4"> المنطقه      : </label>
                                        <div class="col-8">
                                        <input type="text" value="{{getAddress.value}}" name="patientAddress" id="address" class="form-control" formControlName="patientAddress">
                                        </div>
                                        </div>
                                    
                                    <div class="form-group d-flex ">
                                        <div class="col-4"></div>
                                        <div class="col-8 d-flex">
                                            <button type="submit" class="submit "  (click)="updateInfo($event)">
                                                
                                                <span *ngIf="showSpinner" class="spinner-border " role="status">
                        
                                                </span>
                                                                <span *ngIf="!showSpinner" > حفظ </span>               
                                            </button>
                                        <button  (click)="  resetForm()" value=" " class="reset" >إلغاء</button>
                                    
                                        </div>
                                    </div>
                                </form> 
                            </div>
                        </div>
 
           </ng-container>
                
    </div>
      </div>

</div>






