<div class=" card ">
    <div class="card-header h6 p-3"><i class="fa-solid fa-filter ms-1 me-3"></i>Filters</div>
    <div class="accordion m-0" id="accordionPanelsStayOpenExample">

        <div class="accordion-item">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#btn1" aria-expanded="false" aria-controls="btn1">
                    <i class="fa-solid fa-venus-mars me-2"></i> Gender </button>
            </h2>
            <div id="btn1" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Male </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Female
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#btn2" aria-expanded="false" aria-controls="btn2">
                    <i class="fa-regular fa-calendar me-3"></i> Avability </button>
            </h2>
            <div id="btn2" class="accordion-collapse collapse">
                <div class="accordion-body">

                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Any Day
                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Today
                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Tomorrow
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header m-0">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#btn3" aria-expanded="false" aria-controls="btn3">
                    <i class="fa-solid fa-money-bill-wave me-3"></i> feese </button>
            </h2>
            <div id="btn3" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Any
                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Less than 50
                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            From 50 to 100
                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            From 100 to 200

                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            From 200 to 300

                        </label>
                    </div>
                    <div class="form-check my-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Greater than 300
                        </label>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>